Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"/Users/naman/Downloads/chromedriver_mac64/chromedriver")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]') 
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [10]:
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company_name':company_name, 'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
1,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
2,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
4,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
7,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
8,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
9,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs