Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"/Users/naman/Downloads/chromedriver_mac64/chromedriver")

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [5]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [10]:
Brand=[]
Product_Description=[]
Price=[]

In [11]:
brand_tags=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in brand_tags[0:10]:
    brand=i.text
    Brand.append(brand)
    
product_Description_tags=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]') 
for i in product_Description_tags[0:10]:
    product_Description=i.text
    Product_Description.append(product_Description)
    
price_tags=driver.find_elements(By.XPATH, '//div[@class="_25b18c"]')
for i in price_tags[0:10]:
    price=i.text
    Price.append(price)

In [12]:
print(len(Brand),len(Product_Description),len(Price))

10 10 10

In [13]:
start=0
end=9
for page in range(start,end):
    brands=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brands[0:10]:
        Brand.append(i.text)
    product=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product[0:10]:
        Product_Description.append(i.text)
    price=driver.find_elements(By.XPATH, '//div[@class="_25b18c"]')
    for i in price[0:10]:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH, '//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [14]:
print(len(Brand), len(Product_Description), len(Price))

100 100 100

In [15]:
df=pd.DataFrame({'Brand':Brand, 'Product_Description':Product_Description, 'Price':Price})
df

,Brand,Product_Description,Price
0,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹399₹99960% off
1,TR,Sneakers For Men,"₹331₹1,49977% off"
2,BIRDE,Sneakers For Women,₹199₹49960% off
3,SFR,Sneakers For Men,₹298₹71558% off
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,"₹299₹1,99985% off"
...,...,...,...
95,BIRDE,Combo Pack of 2 Casual Shoes Sneakers For Men,"₹499₹1,99875% off"
96,SFR,Sneakers For Men,₹243₹82070% off
97,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,"₹499₹2,49980% off"
98,Shozie,Stylish Sneakers Shoes for Women And Girls Sne...,₹374₹99962% off
99,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹399₹99960% off