# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

#             a) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [3]:
page

In [4]:
# Send a GET request to the website
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)

In [5]:
# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# Find the table that contains the rankings
table = soup.find("table", {"class": "table"})

In [7]:
# Extract the data for each team in the table
teams = []
for row in table.find_all("tr")[1:11]:
    team = {}
    cells = row.find_all("td")
    team["Rank"] = int(cells[0].text.strip())
    team["Team"] = cells[1].text.strip()
    team["Matches"] = int(cells[2].text.strip())
    team["Points"] = cells[3].text.strip()
    team["Rating"] = int(cells[4].text.strip())
    teams.append(team)

In [8]:
# Create a Pandas DataFrame to store the results
df = pd.DataFrame(teams)

In [9]:
# Display the DataFrame
df

   Rank              Team  Matches Points  Rating
0     1        India\nIND       44  5,010     114
1     2    Australia\nAUS       32  3,572     112
2     3   New Zealand\nNZ       29  3,229     111
3     4      England\nENG       33  3,656     111
4     5     Pakistan\nPAK       25  2,649     106
5     6  South Africa\nSA       27  2,775     103
6     7   Bangladesh\nBAN       33  3,129      95
7     8     Sri Lanka\nSL       34  2,976      88
8     9  Afghanistan\nAFG       20  1,419      71
9    10   West Indies\nWI       41  2,902      71