# c) Top 10 ODI bowlers along with the records of their team andrating.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

In [3]:
page

In [4]:
# Send a GET request to the website
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)

In [5]:
# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# Find the table that contains the ODI bowling rankings
table = soup.find("table", {"class": "table"})

In [7]:
# Extract the data for each bowler in the table
bowlers = []
for row in table.find_all("tr")[1:11]:
    bowler = {}
    cells = row.find_all("td")
    bowler["Bowler"] = cells[1].text.strip()
    bowler["Team"] = cells[2].text.strip()
    bowler["Rating"] = int(cells[3].text.strip())
    bowlers.append(bowler)

In [8]:
# Create a Pandas DataFrame to store the results
df = pd.DataFrame(bowlers)

In [9]:
# Display the DataFrame
df

              Bowler Team  Rating
0     Mohammed Siraj  IND     729
1     Josh Hazlewood  AUS     727
2        Trent Boult   NZ     708
3     Mitchell Starc  AUS     665
4        Rashid Khan  AFG     659
5         Adam Zampa  AUS     655
6    Shakib Al Hasan  BAN     652
7     Shaheen Afridi  PAK     641
8  Mustafizur Rahman  BAN     638
9   Mujeeb Ur Rahman  AFG     637