# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-

# a) Top 10 ODI teams in womenâ€™s cricket along with the records for matches, points and rating.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [3]:
page

In [4]:
# Send a GET request to the website
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)

In [5]:
# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# Find the table that contains the ODI team rankings
table = soup.find("table", {"class": "table"})

In [7]:
# Extract the data for each team in the table
teams = []
for row in table.find_all("tr")[1:11]:
    team = {}
    cells = row.find_all("td")
    team["Team"] = cells[1].text.strip()
    team["Matches"] = int(cells[2].text.strip())
    team["Points"] = cells[3].text.strip()
    team["Rating"] = int(cells[4].text.strip())
    teams.append(team)

In [8]:
# Create a Pandas DataFrame to store the results
df = pd.DataFrame(teams)

In [9]:
# Display the DataFrame
df

               Team  Matches Points  Rating
0    Australia\nAUS       21  3,603     172
1      England\nENG       28  3,342     119
2  South Africa\nSA       26  3,098     119
3        India\nIND       27  2,820     104
4   New Zealand\nNZ       25  2,553     102
5   West Indies\nWI       27  2,535      94
6   Bangladesh\nBAN       13    983      76
7     Thailand\nTHA        8    572      72
8     Pakistan\nPAK       27  1,678      62
9     Sri Lanka\nSL        8    353      44