# b) Top 10 womenâ€™s ODI Batting players along with the records of their team and rating.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

In [3]:
page

In [4]:
# Send a GET request to the website
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)

In [5]:
# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# Find the table that contains the ODI batting rankings
table = soup.find("table", {"class": "table"})

In [7]:
# Extract the data for each batsman in the table
batting_players = []
for row in table.find_all("tr")[1:11]:
    batting_player = {}
    cells = row.find_all("td")
    batting_player["Batting Player"] = cells[1].text.strip()
    batting_player["Team"] = cells[2].text.strip()
    batting_player["Rating"] = int(cells[3].text.strip())
    batting_players.append(batting_player)

In [8]:
# Create a Pandas DataFrame to store the results
df = pd.DataFrame(batting_players)

In [9]:
# Display the DataFrame
df

        Batting Player Team  Rating
0         Alyssa Healy  AUS     762
1          Beth Mooney  AUS     754
2      Laura Wolvaardt   SA     732
3       Natalie Sciver  ENG     731
4          Meg Lanning  AUS     717
5     Harmanpreet Kaur  IND     716
6      Smriti Mandhana  IND     714
7       Rachael Haynes  AUS     680
8  Chamari Athapaththu   SL     655
9    Amy Satterthwaite   NZ     641