# c) Top 10 womenâ€™s ODI all-rounder along with the records of their team and rating.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [3]:
page

In [4]:
# Send a GET request to the website
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)

In [5]:
# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# Find the table that contains the ODI all-rounder rankings
table = soup.find("table", {"class": "table"})

In [7]:
# Extract the data for each bowler in the table
All_rounders = []
for row in table.find_all("tr")[1:11]:
    All_rounder = {}
    cells = row.find_all("td")
    All_rounder["All rounder"] = cells[1].text.strip()
    All_rounder["Team"] = cells[2].text.strip()
    All_rounder["Rating"] = int(cells[3].text.strip())
    All_rounders.append(All_rounder)

In [8]:
# Create a Pandas DataFrame to store the results
df = pd.DataFrame(All_rounders)

In [9]:
# Display the DataFrame
df

        All rounder Team  Rating
0   Hayley Matthews   WI     373
1    Natalie Sciver  ENG     371
2      Ellyse Perry  AUS     366
3    Marizanne Kapp   SA     349
4       Amelia Kerr   NZ     336
5     Deepti Sharma  IND     322
6  Ashleigh Gardner  AUS     292
7     Jess Jonassen  AUS     250
8          Nida Dar  PAK     232
9    Jhulan Goswami  IND     214