# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

In [3]:
page

In [4]:
# Send a GET request to the website
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response = requests.get(url)

In [5]:
# Use BeautifulSoup to parse the HTML content of the response
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
# Find the table that contains the ODI batting rankings
table = soup.find("table", {"class": "table"})

In [7]:
# Extract the data for each batsman in the table
batsmen = []
for row in table.find_all("tr")[1:11]:
    batsman = {}
    cells = row.find_all("td")
    batsman["Batsman"] = cells[1].text.strip()
    batsman["Team"] = cells[2].text.strip()
    batsman["Rating"] = int(cells[3].text.strip())
    batsmen.append(batsman)

In [8]:
# Create a Pandas DataFrame to store the results
df = pd.DataFrame(batsmen)

In [9]:
# Display the DataFrame
df

                 Batsman Team  Rating
0             Babar Azam  PAK     887
1  Rassie van der Dussen   SA     787
2           David Warner  AUS     747
3        Quinton de Kock   SA     743
4            Imam-ul-Haq  PAK     740
5           Shubman Gill  IND     734
6            Virat Kohli  IND     727
7            Steve Smith  AUS     719
8           Rohit Sharma  IND     719
9        Kane Williamson   NZ     700